.container {
  width: 100%;
  box-sizing: border-box;
  padding: 210px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

body {
  font-family: "NanumSquareRoundLight";
  font-family: "NanumSquareRound";
  font-family: "NanumSquareRoundBold";
  font-family: "NanumSquareRoundExtraBold";
}

button {
  cursor: pointer;
}

/* 폼 */
.form {
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.select__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}
.form label {
  font-size: 20px;
  font-weight: 600;
  width: 10%;
}
.form select {
  padding: 15px 10px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid gainsboro;
}
select {
  width: 100%;
}
#select-1 {
  width: 20%;
}
#select-2 {
  width: 40%;
}

.form input,
.form textarea {
  padding: 15px 10px;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  width: 90%;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(255, 210, 98);
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  font-weight: 400;
}

.find-info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.find-info__wrapper label {
  width: 80%;
  text-align: left;
  font-weight: 800;
  font-size: 20px;
}
.find-info__wrapper > input {
  width: 80%;
}

.find-info__wrapper > button {
  width: 80%;
}
.findInfo {
  gap: 100px;
}

/* 아이디 찾기 - 인증번호 */
.input--btn__wrapper {
  width: 90%;
}
.input--btn__wrapper > input {
  width: 80%;
  margin-top: 10px;
}

.input--btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.input--btn > button {
  width: 18%;
}
.input--btn > input {
  width: 80%;
}
.findform_btn {
  font-size: 16px;
  padding: 10px;
}

h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
